*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# elpa
elpa

# el-get
el-get

# the generated el files by org-babel
ome*el

# auto-complete data file
ac*dat

# saved-places
*saved-places*

# projectile
projectile*

# url
url
